<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,804}</string>
                <key>spriteSourceSize</key>
                <string>{804,804}</string>
                <key>textureRect</key>
                <string>{{1,1},{804,804}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hau-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,54}</string>
                <key>spriteSourceSize</key>
                <string>{21,54}</string>
                <key>textureRect</key>
                <string>{{471,807},{21,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hau-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,56}</string>
                <key>spriteSourceSize</key>
                <string>{23,56}</string>
                <key>textureRect</key>
                <string>{{424,807},{23,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,807},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,56}</string>
                <key>spriteSourceSize</key>
                <string>{29,56}</string>
                <key>textureRect</key>
                <string>{{364,807},{29,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,58}</string>
                <key>spriteSourceSize</key>
                <string>{31,58}</string>
                <key>textureRect</key>
                <string>{{307,807},{31,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>o-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,807},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>o-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,807},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tinh-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,54}</string>
                <key>spriteSourceSize</key>
                <string>{25,54}</string>
                <key>textureRect</key>
                <string>{{421,865},{25,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tinh-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{395,807},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tot-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{23,50}</string>
                <key>textureRect</key>
                <string>{{494,807},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tot-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,52}</string>
                <key>spriteSourceSize</key>
                <string>{25,52}</string>
                <key>textureRect</key>
                <string>{{477,863},{25,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuong-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,55}</string>
                <key>spriteSourceSize</key>
                <string>{20,55}</string>
                <key>textureRect</key>
                <string>{{449,807},{20,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuong-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,57}</string>
                <key>spriteSourceSize</key>
                <string>{22,57}</string>
                <key>textureRect</key>
                <string>{{340,807},{22,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xe-den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{29,54}</string>
                <key>textureRect</key>
                <string>{{365,865},{29,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xe-trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,56}</string>
                <key>spriteSourceSize</key>
                <string>{31,56}</string>
                <key>textureRect</key>
                <string>{{307,867},{31,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>covua.png</string>
            <key>size</key>
            <string>{806,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e586962d3d91d34bdc3b605ff7f25e7:e65c6c59d0d9e0ab502a2cf2094b4ace:3addcca903b517a5c072d220bcfd5e11$</string>
            <key>textureFileName</key>
            <string>covua.png</string>
        </dict>
    </dict>
</plist>
